<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block title %}News{% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
    <h3>Все новости в категории {{ category_label }}</h3>
    <p1>Количество новостей на странице {{ categorized_news|length }}</p1>
    <hr>
    {% if categorized_news %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Автор
                </td>
                <td width="10%">
                    Дата
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Обзор
                </td>
                <td>
                    Действия
                </td>
            </tr>
        {% for o_news in categorized_news %}
            <tr>
                <td>
                    <!-- При нажатии на заголовок новости в таблице нас теперь будет перекидывать 
                    на страницу с информацией о новости -->
                    <a href="{% url 'one_news' o_news.id %}">{{ o_news.title }}</a>
                </td>
                <td>
                    {{ o_news.author.user }}
                </td>
                <td  width="10%">
                    {{ o_news.creation_datetime|date:'d-M-Y' }}
                </td>
                <td>
                    {% for category_label_list in o_news.get_categories %}
                        {{ category_label_list.1 }}
                    {% endfor %}
                </td>
                <td>
                    {{ o_news.content|profanity|truncatechars:50 }}
                </td>
                <td>
                    <!-- добавим ссылку на редактирование новости-->
                    <a href="{% url 'news_update' o_news.id %}"><u>Редактировать</u></a>
                    <br />
                    <!-- добавим ссылку на удаление новости-->
                    <a href="{% url 'news_delete' o_news.id %}"><u> Удалить </u></a>
                </td>
            </tr>
        {% endfor %}
        </table> 
    
    <hr>
    {% if is_subscribtion %}
        <a href="{% url 'unsubscribe_category' post_category %}">
            Отписаться от новостей в категории {{ category_label }}
        </a>
        <br>
    {% else %}
        <a href="{% url 'subscribe_category' post_category %}">
            Подписаться на новости в категории {{ category_label }}
        </a>
        <br>
    {% endif %}
    <a href="{% url 'news_add' %}">Добавить новость</a>
    <br>
    <a href="/news/">    Новости</a>
    {% else %}
        <h2>Новостей в категории {{ category_label }} нет!</h2>
    {% endif %}
{% endblock content %}