<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

<!-- Название у нас будет News -->
{% block title %}
    News
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <p1>Количество новостей {{ filter.qs|length }}</p1>
    <hr>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <input type="submit" value="Найти">
    </form>
    {% if filter.qs %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Обзор
                </td>
            </tr>
        {% for o_news in filter.qs %}
            <tr>
                <td>
                    <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать 
                    на страницу с информацией о новости -->
                    <a href="{% url 'one_news' o_news.id %}">{{ o_news.title }}</a>
                    <!-- добавим ссылку на редактирование новости-->
                    <a href="{% url 'news_update' o_news.id %}"><u>Редактировать</u></a>
                    <!-- добавим ссылку на удаление новости-->
                    <a href="{% url 'news_delete' o_news.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {{ o_news.author.user }}
                </td>
                <td>
                    {{ o_news.creation_datetime|date:'d-M-Y' }}
                </td>
                <td>
                    {{ o_news.content|profanity|truncatechars:50 }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p2>Нет новостей с заданными параметрами.</p2>
    {% endif %}
{% endblock content %}