<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p2>Здравствуйте, {{ name }}. Новые статии в категории {{ category_label }}!</p2><hr>
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Обзор
                </td>
            </tr>
        {% for one_news in news %}
            <tr>
                <td>
                    {{ one_news.title }}
                </td>
                <td>
                    <a href="http://np-d.test.com:8000{% url 'one_news' one_news.id %}">{{ one_news.content|truncatechars:50 }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>